.main {
  -fx-background-color: rgb(37, 37, 37);
}

.input {
  -fx-background-color: rgb(37, 37, 37);
  -fx-background-insets: 0, 0 0 1 0;
  -fx-background-radius: 0;
}
.input:focused {
  -fx-background-color: -fx-focus-color, -fx-background;
}

.image-invert {
  /* find a way to invert color of img */
}
